/* Nav*/
.navbar{
  border-bottom: 1px solid rgb(170, 167, 167);
}
.logo img{
  width: 160px;
}
.navbar-nav li {
  font-size: 1.5rem;
  margin-left: 2rem;
}

/* Welcome */
.welcomeWrap{
  width: 95%;
  margin: auto;
  text-align: center;  
  cursor: default;
}
.welcomeWrap img{
  width: 100%;
  margin-bottom:3rem;
}

/* Player */
.playerNav {padding-right: 2rem;}
.playerNav a{color: white;}
.playerNav a:hover{color: red;text-decoration: underline;
  text-underline-position: under;}

/* Item */
.itemCard{
  width: 18rem;
  cursor: pointer;
  border-radius: 1rem;
}
.itemCard .card-body{
  background-color: black;
  color: white;  
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Support */
.formBox{
  width: 80%;
  margin: auto;
}
.supportP{
  color: white;
  font-size: 1.3rem;
}
.ta{
  height: 10rem !important;
}


/* Details */
.detailWrap{
  width: 90%;
  margin: auto;
}
.detailWrap .card{
  border: 0;
}
.detailWrap .card-body img{
  width: 100%;
}
.playerInfo{width: 90%;margin: auto;}

.detailUnder ul li{
  width: 50%;
}
.detailUnder ul li .nav-link{
  color:gray;
  width: 100%;
}
.detailUnder .nav-link.active{
  background-color: rgb(182, 182, 182);
  font-weight: bolder;
  color:rgb(139, 25, 25) !important;
}
.detailProfile table{
  width: 50%;
}
.detailRecord table{
  width: 100%;
}


